.parentDiv {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 91px;
  flex-direction: column;
  width: 736px;
}

.textDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.textBlue {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--blue);
  gap: 8px;
}

.textPurple {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--purple);
  gap: 8px;
}
