.parentDiv {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 24px;
  flex-direction: column;
  width: 736px;
  height: 287px;
}



.imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 736px;
  height: 244px;
  margin-top: 24px;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.imgText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clip {
  height: 56px;
  width: 56px;
}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--gray-300);
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--gray-300)
}


.titlesDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 16px;
  line-height: 140%;
}